<% layout("layouts/boilerplate") %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" placeholder="title" name="campground[title]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
                </div>
                <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" id="location" class="form-control" placeholder="location" name="campground[location]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
                <div class="mb3">
                    <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="price-label">$</span>
                    </div>
                    <input type="number" name="campground[price]" id="price" class="form-control" placeholder="price" aria-label="price" aria-describedby="price-label" required>
                  </div>
                  <div class="valid-feedback">
                    looks good!
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label"></label>
                    <input class="form-control" type="file" name="image" id="image" multiple>
                  </div>
                <!-- <input type="file" name="image" id="image" multiple> -->
                <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" id="description" class="form-control" placeholder="description" name="campground[description]" required></textarea> 
                <div class="valid-feedback">
                    looks good!
                </div>    
            </div>
                <div class="mb-3">
                <button class="btn btn-success">Add campground</button>
                </div>
            </form>
        
            <a href="/campgrounds">Back to all campgrounds</a>
        </div>
    </div>

